h1{
	font size:10px;
	font-family:lucida handwriting;
}
h2{ font size:9px;
	font-family:lucida handwriting;

}
h3{
	font size:9px;
	font-family:lucida handwriting;
}
h4{
	font size:9px;
	font-family:lucida handwriting;
}
p3{
	font size:10px;
	font-family:lucida handwriting;
}

	
